<!doctype html>
<style></style>

<script type="text/JavaScript">
	const alphaEng = "abcdefghijklmnopqrstuvwxyz";
	function show(){
		var position = document.getElementById("position").value;
		display.innerHTML = position;
	}
	function generateEnglishLetter(){
		return alphaEng[Math.floor(Math.random() * alphaEng.length)]
	}
	function changeLetter(){
		var element = document.getElementById("letter").value;
		letter.innerHTML = element;
	}
</script>

<html><head><title>Our Letter Game Project</title><body>
<h2>Our Letter Game Project</h2>

{% if trans['text'] %}
    <h4>Previous translation</h4>
    <li><b>Original</b>:   {{ orig['text'] }}  (<i>{{ orig['lc'][0] }}</i>)</li>
    <li><b>Translated</b>: {{ trans['text'] }} (<i>{{ trans['lc'][0] }}</i>)</li>
{% endif %}

<h4>Enter <i>{{ orig['lc'][1] }}</i> text to translate to <i>{{ trans['lc'][1] }}</i>:</h4>
<form method="POST"><input name="text"><input type="submit"></form>

<p>Your letter is:</p>
<p id="letter"><span id="letter"></p>

<form>What position is the above letter in the alphabet? <input type="text" id="position"><input type="button" onclick="show()" value="Show Letter"><output name="typed" for "position"></output></form>
<p>You typed: <strong><span id="display"></strong></p>
</body></html>
