<!doctype html>

<style></style>

<script type="text/JavaScript">
	var alphaEng = ["a","b","c","d","e","f","g","h","i","j","k","l","m","n","o","p","q","r","s","t","u","v","w","x","y","z"];
	var randomLetter = "";
	function getRandomLetter() {
		var selected = Math.floor(Math.random() * alphaEng.length);
		randomLetter = alphaEng[selected-1];
		letter.innerHTML = randomLetter;
	}
	function show(){
		var position = document.getElementById("position").value;
		display.innerHTML = position;
	}
</script>

<html><head><title>Our Letter Game Project</title><body>
<h2>Our Letter Game Project</h2>

{% if trans['text'] %}
    <h4>Previous translation</h4>
    <li><b>Original</b>:   {{ orig['text'] }}  (<i>{{ orig['lc'][0] }}</i>)</li>
    <li><b>Translated</b>: {{ trans['text'] }} (<i>{{ trans['lc'][0] }}</i>)</li>
{% endif %}

<h4>Enter <i>{{ orig['lc'][1] }}</i> text to translate to <i>{{ trans['lc'][1] }}</i>:</h4>
<form method="POST"><input name="text"><input type="submit"></form>

<p>Your letter is: <strong><span id="letter"></strong></p>

<form>What position is the above letter in the alphabet? <input type="text" id="position"><input type="button" onclick="show()" value="Show Letter"></form>
<p>You typed: <strong><span id="display"></strong></p>
</body></html>
